@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700|Quattrocento:400,700");
header .accordion > .accordion-item {
  cursor: pointer; }

header .accordion-item > .item-content {
  overflow: hidden;
  display: none;
  padding-left: .5em; }

header .item-content a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  padding: .1em; }

header .item-content a:hover {
  color: #88B04B; }

header .accordion-item.open > .item-content {
  overflow: hidden;
  display: block; }

header .accordion-item > .item-title {
  color: #DFDFE3;
  font-family: "Oswald", sans-serif;
  font-size: 1em; }

header .accordion-item > .item-title:hover {
  color: #88B04B; }
