@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700|Quattrocento:400,700");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700|Quattrocento:400,700");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700|Quattrocento:400,700");
header .accordion > .accordion-item {
  cursor: pointer; }

header .accordion-item > .item-content {
  overflow: hidden;
  display: none;
  padding-left: .5em; }

header .item-content a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  padding: .1em; }

header .item-content a:hover {
  color: #88B04B; }

header .accordion-item.open > .item-content {
  overflow: hidden;
  display: block; }

header .accordion-item > .item-title {
  color: #DFDFE3;
  font-family: "Oswald", sans-serif;
  font-size: 1em; }

header .accordion-item > .item-title:hover {
  color: #88B04B; }

header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100px;
  z-index: 10; }
  header nav {
    float: right;
    margin: 40px 45px; }
    header nav .menu-item {
      display: inline-block; }
      header nav .menu-item a {
        color: #DFDFE3;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        font-size: 1em; }

header nav a:hover {
  color: #88B04B; }

#logo {
  position: relative;
  top: 25px;
  left: 45px;
  float: left;
  width: 125px; }
  #logo img {
    height: 55px; }

#game {
  position: relative;
  background-color: #DFDFE3;
  width: 900px;
  height: 500px;
  top: 10px;
  margin-left: 45px;
  padding: 15px; }

.description {
  position: relative;
  float: right;
  top: -525px;
  width: 210px;
  margin-right: 50px; }
  .description h1 {
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    padding-bottom: 5px; }
  .description h2 {
    font-family: "Oswald", sans-serif;
    color: #88B04B;
    font-size: 1.25em;
    padding-bottom: 15px;
    text-transform: uppercase; }
  .description p {
    font-family: "Quattrocento", serif;
    color: #DFDFE3;
    font-size: 1em;
    line-height: 1.15em;
    padding-bottom: 20px; }
  .description a {
    color: #88B04B;
    text-decoration: none; }

.description a:hover {
  color: #DFDFE3; }

.next {
  position: relative;
  top: -225px;
  left: 425px;
  width: 85px;
  height: 25px;
  color: #4C4B55;
  text-transform: uppercase;
  background-color: #DFDFE3;
  outline: none;
  border: none; }

.next:hover {
  background-color: #84b8e3; }

.replay {
  position: relative;
  top: -180px;
  left: 425px;
  width: 85px;
  height: 25px;
  color: #4C4B55;
  text-transform: uppercase;
  background-color: #DFDFE3;
  outline: none;
  border: none; }

.replay:hover {
  background-color: #84b8e3; }
