@import 'variables';
@import 'accordion';
header {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100px;
    z-index: 10;
    nav {
        float: right;
        margin: 35px $left;
        .menu-item {
            display: inline-block;
            a {
                color: $white;
                text-decoration: none;
                text-transform: uppercase;
                font-family: $title-font;
                font-size: 1em;
                // margin-left: 20px;
            }
        }
    }
}

header nav a:hover {
    color: $green;
}

#logo {
    position: relative;
    top: 25px;
    left: $left;
    float: left;
    width: 125px;
    img {
        height: 55px;
    }
}

.game-info {
    position: relative;
    background-color: $white;
    width: 900px;
    height: 500px;
    top: 10px;
    margin-left: $left;
    z-index = 5;
}

#game {
    position: relative;
    background-color: $white;
    width: 900px;
    height: 500px;
    top: 10px;
    margin-left: $left;
    padding: 10px;
}

.next {
    color: $grey;
    background-color: $white;
}

.next:hover {
    background-color: $water-color;
}
