@import 'variables';
@import 'accordion';
header {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100px;
    z-index: 10;
    nav {
        float: right;
        margin: 40px $left;
        .menu-item {
            display: inline-block;
            a {
                color: $white;
                text-decoration: none;
                text-transform: uppercase;
                font-family: $title-font;
                font-size: 1em;
                // margin-left: 20px;
            }
        }
    }
}

header nav a:hover {
    color: $green;
}

#logo {
    position: relative;
    top: 25px;
    left: $left;
    float: left;
    width: 125px;
    img {
        height: 55px;
    }
}

#game {
    position: relative;
    background-color: $white;
    width: 900px;
    height: 500px;
    top: 10px;
    margin-left: $left;
    padding: 15px;
}

.description {
    position: relative;
    float: right;
    top: -525px;
    width: 210px;
    margin-right: 50px;
    h1 {
        font-family: $title-font;
        color: white;
        font-size: 2em;
        text-transform: uppercase;
        padding-bottom: 5px;
    }
    h2 {
        font-family: $title-font;
        color: $green;
        font-size: 1.25em;
        padding-bottom: 15px;
        text-transform: uppercase;
    }
    p {
        font-family: $paragraph;
        color: $white;
        font-size: 1em;
        line-height: 1.15em;
        padding-bottom: 20px;
    }
    a {
        color: $green;
        text-decoration: none;
    }
}

.description a:hover {
    color: $white;
}

.next {
    position: relative;
    top: -225px;
    left: 425px;
    width:85px;
    height:25px;
    color: $grey;
    text-transform: uppercase;
    background-color: $white;
    outline: none;
    border: none;
}

.next:hover {
    background-color: $water-color;
}

.replay {
    position: relative;
    top: -180px;
    left: 425px;
    width:85px;
    height:25px;
    color: $grey;
    text-transform: uppercase;
    background-color: $white;
    outline: none;
    border: none;
}

.replay:hover {
    background-color: $water-color;
}
