@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Quattrocento:400,700');

//COLORS
$water-color: #84b8e3;
$white: #DFDFE3;
$green: #88B04B;
$grey: #4C4B55;

//TYPE
$title-font: 'Oswald', sans-serif;
$paragraph: 'Quattrocento', serif;
$menu-size: 1em;

//MARGINS
$left : 45px;